body{
    margin:0;
    font-family: Arial, Helvetica, sans-serif; 
    color: #030521;
    font-size: 15px;
}

.container{
    width: 70%;
    max-width: 1200px;
    overflow: hidden;
    margin: 0 auto;
}
